<script>
import { GlButton, GlCard, GlIcon, GlLoadingIcon } from '@gitlab/ui';
// eslint-disable-next-line no-restricted-imports
import { mapState, mapActions } from 'vuex';
import glFeatureFlagsMixin from '~/vue_shared/mixins/gl_feature_flags_mixin';
import { __ } from '~/locale';
import showToast from '~/vue_shared/plugins/global_toast';
import DrawerRuleCreate from './rule_drawer/create_rule.vue';
import ModalRuleCreate from './rule_modal/create_rule.vue';
import ModalRuleRemove from './rule_modal/remove_rule.vue';

export default {
  name: 'ApprovalRulesApp',
  components: {
    DrawerRuleCreate,
    ModalRuleCreate,
    ModalRuleRemove,
    GlButton,
    GlCard,
    GlIcon,
    GlLoadingIcon,
  },
  mixins: [glFeatureFlagsMixin()],
  props: {
    isMrEdit: {
      type: Boolean,
      default: true,
      required: false,
    },
  },
  computed: {
    ...mapState({
      settings: 'settings',
      rules: (state) => state.approvals.rules,
      isLoading: (state) => state.approvals.isLoading,
      drawerOpen: (state) => state.approvals.drawerOpen,
      hasLoaded: (state) => state.approvals.hasLoaded,
      targetBranch: (state) => state.approvals.targetBranch,
    }),
    createModalId() {
      return `${this.settings.prefix}-approvals-create-modal`;
    },
    removeModalId() {
      return `${this.settings.prefix}-approvals-remove-modal`;
    },
    checkShowResetButton() {
      return this.targetBranch && this.settings.canEdit && this.settings.allowMultiRule;
    },
    rulesLength() {
      return this.rules?.length || 0;
    },
  },
  mounted() {
    return this.fetchRules({ targetBranch: this.targetBranch });
  },
  methods: {
    ...mapActions(['fetchRules', 'undoRulesChange']),
    ...mapActions({ openCreateModal: 'createModal/open' }),
    ...mapActions({ openCreateDrawer: 'openCreateDrawer' }),
    ...mapActions({ closeCreateDrawer: 'closeCreateDrawer' }),
    resetToProjectDefaults() {
      const { targetBranch } = this;

      return this.fetchRules({ targetBranch, resetToDefault: true }).then(() => {
        showToast(__('Approval rules reset to project defaults'), {
          action: {
            text: __('Undo'),
            onClick: (_, toast) => {
              this.undoRulesChange();
              toast.hide();
            },
          },
        });
      });
    },
    handleAddRule() {
      if (this.glFeatures.approvalRulesDrawer) {
        this.openCreateDrawer();
        return;
      }
      this.openCreateModal(null);
    },
  },
};
</script>

<template>
  <gl-card
    class="gl-new-card"
    header-class="gl-new-card-header"
    body-class="gl-new-card-body gl-px-0 gl-overflow-hidden"
    footer-class="gl-new-card-footer"
    data-testid="mr-approval-rules"
  >
    <template #header>
      <div class="gl-new-card-title-wrapper">
        <h5 class="gl-new-card-title">
          {{ __('Approval rules') }}
          <span class="gl-new-card-count">
            <gl-icon name="approval" class="gl-mr-2" />
            <span data-testid="rules-count">{{ rulesLength }}</span>
          </span>
        </h5>
      </div>
      <div v-if="settings.canEdit && settings.allowMultiRule" class="gl-new-card-actions">
        <gl-button
          :class="{ 'gl-mr-3': targetBranch, 'gl-mr-0': !targetBranch }"
          :disabled="isLoading"
          category="secondary"
          size="small"
          data-testid="add-approval-rule"
          @click="handleAddRule()"
        >
          {{ __('Add approval rule') }}
        </gl-button>
      </div>
    </template>

    <gl-loading-icon v-if="!hasLoaded" size="sm" class="gl-m-5" />
    <template v-else>
      <slot name="rules"></slot>
      <div v-if="checkShowResetButton" class="border-bottom py-3 px-3">
        <div class="gl-display-flex">
          <gl-button
            v-if="targetBranch"
            :disabled="isLoading"
            size="small"
            data-testid="reset-to-defaults"
            @click="resetToProjectDefaults"
          >
            {{ __('Reset to project defaults') }}
          </gl-button>
        </div>
      </div>
    </template>
    <template v-if="$scopedSlots.footer" #footer>
      <slot name="footer"></slot>
    </template>
    <drawer-rule-create
      v-if="glFeatures.approvalRulesDrawer"
      :is-mr-edit="isMrEdit"
      :is-open="drawerOpen"
      @close="closeCreateDrawer"
    />
    <modal-rule-create v-else :modal-id="createModalId" :is-mr-edit="isMrEdit" />
    <modal-rule-remove :modal-id="removeModalId" />
  </gl-card>
</template>
